.idea/
*.ipr
*.iml
*.iws
*.log
target/
war/
*~
atlassian-ide-plugin.xml
src/main/webapp/WEB-INF/classes/
*Dev.gwt.xml
.classpath
.project
.gwt/
.settings/
.DS_Store
.checkstyle
/logs
javadoc/
lib/
test-output/
/.externalToolBuilders/*
/bin/
/.springBeans
/m8client.launch
nodejs/node_modules/